@using Microsoft.CodeAnalysis.CSharp.Syntax
@model WebApp.Models.SummonerViewModel

@{
    ViewData["Title"] = "SummonerLookup";
}

<h2>SummonerLookup</h2>

<h4>SummonerViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SummonerName" class="control-label"></label>
                <input asp-for="SummonerName" class="form-control" value="FriendlyRob" />
                <span asp-validation-for="SummonerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DropDownListFor(model => model.Region, new SelectList(ViewBag.RegionList))
            </div>
            <div class="form-group">
                <input type="submit" value="Lookup" class="btn btn-default" />
            </div>
        </form>
    </div>
    @if (TempData["SummonerName"] != null)
    {
        <div class="col-md-2">
        </div>
        
        <div class="col-md-4" style="border: 1px solid red">
            <div class="summoner">
                <div class="profile-icon">
                    <img src="~/images/profileicon/@(TempData["ProfileIconId"]).png" class="profile-icon-image">
                </div>
                <div class="summoner-info">
                    <div class="summoner-name">@TempData["SummonerName"]</div>
                    <div class="summoner-level">Level: @TempData["SummonerLevel"]</div>
                </div>
            </div>
            
            @if (ViewBag.PlayedGames != null)
            {
                <div class="played-games-history-list">
                    @foreach (var game in ViewBag.PlayedGames)
                    {
                        <div class="played-game-wrap">
                            <div class="played-game">
                                <div class="played-game-champion-icon">
                                    <img src="~/images/champion/@(@game.ChampionObject.ChampionName).png" class="played-game-champion-icon-image" title="ChampionID: @game.Champion" alt="Champion">
                                </div>
                                <div class="played-game-info">
                                    <div>GameID: @game.GameId</div>
                                    <div>ChampionName: @game.ChampionObject.ChampionName</div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
            @if (ViewBag.SummonerRanks != null)
            {
                <div class="summoner-ranks">
                    @foreach (var rank in ViewBag.SummonerRanks)
                    {
                        <span>@rank.QueueType</span>
                        switch (rank.QueueType)
                        {
                            case "RANKED_SOLO_5x5":
                                <span>SoloQ</span>
                                break;
                            case "RANKED_FLEX_SR":
                                <span>Flex</span>
                                break;
                            case "RANKED_TFT":
                                <span>TFT</span>
                                break;
                            default:
                                <span>No Rank Found</span>
                                break;
                        }
                        <div class="rank-icon">
                            <img src="~/images/ranks/Emblem_@(rank.Tier).png" class="rank-icon-image" alt="Rank-Tier">
                        </div>
                        

                        <div>@rank.Tier @rank.Division @rank.LeaguePoints LP</div>
                        <div>W :@rank.Wins L: @rank.Losses</div>
                    }

                </div>
            }
        </div>
        
    }
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
